.admin-custom-metabox {
  margin: 50px 0;
  input {
    border-radius: 0;
  }
  label {
    font-weight: 200;
  }
  textarea {
    min-height: 250px;
  }

}

#title-prompt-text {
  font-weight: 200 !important;
}