.cta-button {
  text-decoration: none;
  display: block;
  width: 220px;
  padding: 10px 10px;
  color: @black-color;
  background-color: @accent-color;
  font-weight: bold;
  border: solid 1px @accent-color;
  :active {
    border: solid 1px @accent-color;
  }
  .font-md();
  &:after {
    content: "\f054";
    font-family: FontAwesome;
    padding: 0 0 0 10px;
    top: 1px;
    position: relative;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

a.main-button {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: @white-color;
  padding: 10px 15px;
  &:after {
    content: "\f054";
    font-family: FontAwesome;
    padding: 0 0 0 10px;
    top: 1px;
    position: relative;
  }

  &.dark {
    background-color: @primary-dark-color;
    &:hover {
      color: @white-color;
      background-color: @primary-dark-color;
    }
  }
  &.light {
    background-color: @third-color;
    &:hover {
      color: @white-color;
      background-color: @third-color;
    }
  }
  &.right {
    float: right;
  }
}

a.button-skir-read-more {
  &:after {
    content: "\f054";
    font-family: FontAwesome;
    padding: 0 0 0 10px;
    top: 1px;
    position: relative;
  }
}