.main-title {
  color: @primary-color;
  font-weight: bold;
  line-height: 1.4;
}

.sub-title-grey {
  color: @grey-color;
}

.sub-title-prim {
  color: @primary-color;
}

.pretty-text {
  font-weight: 200;
  line-height: 1.6;
  color: @grey-color;
}

.bold {
  font-weight: bold;
}

.font-sm {
  // xsm, sm, md, lg
  .font-size(14, 15, 16, 16);
}

.font-md {
  .font-size(16, 14, 16, 18);
}

.font-lg-md {
  .font-size(18, 20, 20, 25);
}

.font-c-prim {
  color: @primary-color;
}

.font-c-black {
  color: @black-color;
}
.bg-accent{
  background-color: @accent-color;
}

.font-lg {
  .font-size(25, 25, 25, 30);
}

.font-size(@size-xsm, @size-sm, @size-md, @size-lg) {
  @media screen and (min-width: @lg-device) {
    font-size: ~"@{size-lg}px";
  }
  @media screen and (max-width: @md-device) {
    font-size: ~"@{size-md}px";
  }
  @media screen and (max-width: @sm-device) {
    font-size: ~"@{size-sm}px";
  }
  @media screen and (max-width: @xsm-device) {
    font-size: ~"@{size-xsm}px";
  }
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('../../css/vendor/Google-Fonts/Roboto/Roboto-Regular.ttf');
}

