.fluid-block {
  width: 100%;
  background: @light-grey-color;
  min-height: 400px;
  padding: 50px 0;
  display: block;
  &.no-mobile-pad {
    @media screen and (max-width: @xsm-device) {
      padding: 0;
    }
  }

}
