.site-footer {
  background-color: @secondary-color;
  min-height: 400px;
  list-style: none;

  h2 {
    margin: 30px 0;
  }
  h3 {
    margin: 20px 0;
  }
  ul {
    padding-left: 0;
    list-style: none;
    li {
      margin: 5px 0;
      .font-sm();
      max-width: 200px;
      a {

        color: @grey-color;
        transition: 0.5s;
        &:hover {
          color: @third-color;
        }
      }
    }
  }
}