.main-nav {
  z-index: 5;
  position: relative;
  .top-navbar {
    position: relative;
    height: 35px;
    background-color: @secondary-color;
    padding-top: 5px;
    @media screen and (max-width: @xsm-device) {
      display: none;
    }
    span {
      color: @black-color;
      font-weight: bold;
    }
    .mail-ons-wrapper {
      display: inline-block;
      float: right;
      margin-right: 30px;
      p {
        a {
          color: @grey-color !important;
        }
        color: @grey-color;
        &:before {
          color: @primary-color;
          margin-right: 10px;
          content: "\f0e0";
          font-family: FontAwesome;
        }
      }
    }
    .bel-ons-wrapper {
      display: inline-block;
      float: right;
      p {
        color: @grey-color;
        &:before {
          color: @primary-color;
          margin-right: 10px;
          content: "\f098";
          font-family: FontAwesome;
        }
      }
    }
  }
  .navbar-toggle {
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 10px;
    padding-top: 5px;
    background-color: @primary-color;
    .icon-bar {
      margin-top: 5px;
      height: 3px;
      width: 100%;
      background-color: @white-color;
    }
    &:hover {
      background-color: @primary-color;
    }
  }
  .navbar {
    margin-bottom: 0;
  }
  .navbar-header {
    background: white;
    width: 35%;
    @media screen and (max-width: @xsm-device) {
      width: 100%;
    }
  }
  img {
    width: 90%;
    height: auto;
    margin-right: 100px;
    max-width: 350px;
    @media screen and (max-width: @sm-device) {
      margin-top: 10px;
      max-width: 250px;
    }
    @media screen and (max-width: @xsm-device) {
      margin: 0 0 0 30px;
      max-width: 200px;
    }
  }

  ul {
    height: 80px;
    vertical-align: text-bottom;
    width: 65%;
    background-color: @white-color;
    .active {
      a {
        background-color: @white-color !important;
        border-bottom: solid 5px @primary-color;
        padding-bottom: 21px;
        font-weight: bold;
      }
      &:last-child {
        a {
          background-color: @primary-color !important;
          color: @white-color;
          border-bottom: none;
        }
      }
    }
    li {
      height: 100%;
      a {
        margin-top: 20px;
      }
      &:last-child {
        float: right;
        a {
          color: @white-color;
          margin-top: 25px;
          background-color: @primary-color;
          padding: 10px 15px;
          &:hover {
            color: @white-color;
            background-color: @primary-color;
          }
          &:after {
            content: "\f054";
            font-family: FontAwesome;
            padding: 0 0 0 10px;
            top: 1px;
            position: relative;
          }
        }
      }
    }
  }
}

/* The side navigation menu */
.sidenav {
  bottom: 0;
  top: 51px;
  right: 0;
  height: auto;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5;
  background-color: #f8f8f8; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  @media (min-width: @sm-device) {
    display: none;
  }
  /* The navigation menu links */
  .main-sidenav {
    height: 30%;
    width: 100%;
  }
  .main-sidenav {
    li {
      a {
        padding: 15px 15px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      &.active {
        font-weight: 600;
        border-left: solid 4px @primary-color;
        background-color: rgba(4, 4, 4, 0.03);
      }
    }
  }

}

.sidenav-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  background-color: black; /* Black*/
  display: block;
  opacity: 0;
  transition: 400ms ease-out;
  &.active {
    transition: 400ms ease-in;
    width: 20%;
    opacity: 0.6;
  }
  @media (min-width: @sm-device) {
    display: none;
  }
}

.navbar-toggle {
  .icon-bar1 {
    transition: 400ms ease;
    transform: rotate(0deg);
  }
  .icon-bar3 {
    transition: 400ms ease;
    transform: rotate(0deg);
  }
  .icon-bar1.active {
    transition: 400ms ease;
    transform: rotate(45deg) translate(1px, 2px)
  }
  .icon-bar {
    background-color: white;
  }
  .icon-bar2.icon-bar.active {
    display: none;
  }
  .icon-bar3.active {
    transition: 400ms ease;
    transform: rotate(-45deg) translate(3px, -4px);
  }
  button.navbar-toggle.collapsed {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    margin: 0;
    padding-left: 18px;
    border-radius: 0;
    background-color: @primary-color;
  }
  &.collapsed:focus {
    background-color: @primary-color;
  }
  &.collapsed:hover {
    background-color: @primary-color;
  }
}