.hero-image-wrapper {
  overflow: hidden;
  width: 100%;
  max-height: 550px;
  min-height: 300px;
  background-color: @white-color;
  img {
    width: 100%;
    height: auto;
  }
  .hero-image-text-wrapper {
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 200px;
    @media screen and (max-width: @xsm-device) {
      top: 80px;
    }

    .hero-image-text-block {
      opacity: 0.9;
      padding: 10px 20px;
      height: 100%;
      background-color: @primary-color;
      color: @white-color;
      font-weight: bold;
      .title {
        margin-bottom: 20px;
      }
      .cta-button {
        margin-bottom: 10px;
      }
    }
  }
}