.news-wrapper {
  background-color: @primary-color;
  min-height: 400px;
  .title {
    color: @white-color;
    padding: 15px 10px;
  }
  .news-block {
    min-height: 100px;
    margin-left: 15px;
    background-color: @white-color;
    margin-bottom: 15px;
    padding: 0;
    .media-body {
      padding: 1px 11px 2px 13px;
      .media-heading {
        padding: 0;
        color: @black-color;
        margin-top: 15px;
      }
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid @primary-color;
        margin: 1em 0;
        padding: 0;
      }
      date {
        &:before {
          content: "\f017";
          font-family: FontAwesome;
          position: relative;
          margin-right: 5px;
        }
      }
    }
    .media-right {
      img {
        height: 100px;
        width: 100px;
        @media screen and (max-width: @sm-device) {
          display: none;
        }
        @media screen and (max-width: @xsm-device) {
          display: block;
        }
      }
    }
  }
}