.sidebar {
  #mobile-sidebar-cut {
    @media screen and (max-width: @xsm-device) {
      margin-top: 20px;
    }
  }

  h2 {
    margin: 0;
  }
  .col {
    @media screen and (max-width: @xsm-device) {
      padding: 0;
    }
  }
  .main-row {
    margin: 0;
    @media screen and (max-width: @xsm-device) {
      margin: 0 -15px;
    }
  }
  .sidebar-nav {
    background-color: @white-color;
    padding: 20px;
    @media screen and (max-width: @xsm-device) {
      margin-bottom: 10px;
    }
    .content {
      text-decoration: none;
      list-style: none;
      padding: 10px 0;
      li {
        padding: 5px 0;
        cursor: pointer;
        &.current_page_item {
          font-weight: bold;
          &:after {
            color: @primary-color;
          }
        }

        &:after {
          content: "\f054";
          font-family: FontAwesome;
          padding: 0 0 0 10px;
          top: 1px;
          color: @secondary-color;
          font-weight: 100;
          position: relative;
        }
      }
    }
  }
  .sidebar-news {
    padding: 20px 5px;
    min-height: auto;
    margin: 10px 0;
    .news-block {
      margin: 5px;
    }
    .main-button {
      @media screen and (max-width: @xsm-device) {
        margin-left: 5px;
      }
    }
    .row {
      @media screen and (max-width: @xsm-device) {
        margin: 0;
      }
    }
  }
  .sidebar-reserve {
    margin-bottom: 10px;
    padding: 20px;
    background-color: @white-color;
    .sub-title-prim {
      margin: 10px 0;
    }
  }
}