.social-shares {
  margin-bottom: 100px;

  hr {
    margin: 5px 0;
    color: @grey-color;
    background-color: @grey-color;
    display: block;
    height: 1px;
  }
  .share-buttons-wrapper {
    .font-lg();
    a {
      text-decoration: none;
    }
    .linkedin {
      &:before {
        color: @primary-color;
        cursor: pointer;
        content: "\f08c";
        font-family: FontAwesome;
      }
    }
    .twitter {
      &:before {
        cursor: pointer;
        content: "\f081";
        font-family: FontAwesome;
      }
    }
    .facebook {
      &:before {
        color: @primary-color;
        cursor: pointer;
        content: "\f082";
        font-family: FontAwesome;
      }
    }

  }
}