.tile {
  max-width: 400px;
  .thumbnail {
    min-height: 400px;
    box-shadow: 1px 1px 10px #5a5959;
    border-bottom-right-radius: 20px;
    padding: 0;
    @media screen and (max-width: @xsm-device) {
      min-height: 370px;
    }

  }
  .tile-button-wrapper {
    overflow: hidden;
  }
  .main-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 5px;
    border-bottom-right-radius: 10px;
  }
  img {
    max-height: 180px;
    min-height: 180px;
  }
  .label {
    font-weight: 100;
    background-color: @light-grey-color;
  }
  .sub-title-prim {
    font-weight: bold;
    padding: 0 0 1px 0;
  }
  .pretty-text {
    line-height: 1.5;
  }
  .content {
    margin-top: 10px;
  }
  .status-tile {
    margin-top: -40px;
    position: absolute;
    padding: 5px 10px;
    background-color: @accent-color;
    right: 30px;
  }

  .date-wrapper {
    p {
      display: inline;
    }
    time {
      display: inline;
    }
    .sub-title-prim {
      margin-top: 10px;
    }
  }
}

.tile-horizontal {
  margin: 10px 0;
  min-height: 230px;
  @media screen and (max-width: @xsm-device) {
    height: auto;
  }

  .tile-horizontal-block {
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 10px #b5b5b7;
    .image-wrapper {
      height: 220px;
      padding: 0;
      @media screen and (max-width: @xsm-device) {
        height: auto;
      }
      img {
        height: 100% !important;
        width: 100%;
        @media screen and (max-width: @xsm-device) {
          height: auto;
        }
      }
      .status-tile {
        margin-top: -40px;
        position: absolute;
        padding: 5px 10px;
        background-color: @accent-color;
        right: 10px;
        color: @black-color;
      }
    }
    .label-primary {
      font-weight: 100;
      background-color: @primary-color;
    }
    .sub-title-prim {
      padding: 0 0 5px 0;
    }
    .content {
      padding-top: 10px;
    }
    .main-button {
      @media screen and (max-width: @xsm-device) {
        margin: 10px;
      }
      margin: 10px;
      margin-top: 25px;
    }
    .owl-carousel {
      position: relative;
      height: 100%;

      img {
        height: 100%;
      }
      .item,
      .owl-stage-outer,
      .owl-stage,
      .owl-item {
        height: 100%;
      }

    }

    .owl-dots {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 30px;
      margin-top: -30px;
      text-align: center;
    }

    .owl-dot {
      background: none repeat scroll 0 0 #869791;
      border-radius: 20px;
      border: 1px solid grey;
      display: inline-block;
      height: 12px;
      margin: 0px 7px;
      opacity: 0.5;
      width: 12px;
    }

    .owl-dot.active {
      opacity: 1;
      background-color: @primary-color;
    }
  }

}