.contact-page {
  .contact-wrapper {
    min-height: 500px;
    box-shadow: 1px 1px 2px #5a5959;
    background-color: @white-color;
  }
  .contact-info-wrapper {
    min-height: 300px;
    box-shadow: 1px 1px 2px #5a5959;
    background-color: @white-color;
    @media screen and (max-width: @sm-device) {
      margin-top: 30px;
    }
  }
  .maps-wrapper {
    height: 600px;
    margin: 0;
    #map {
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: @sm-device) {
      height: 400px;
    }
    &.fluid-block {
      padding: 0;
    }
    .gmnoprint img {
      max-width: none;
    }

    #infobox {
      width: 250px;
      text-align: center;
      background-color: @primary-color;
      color: @white-color;
      padding: 10px;
      .btn-marker {
        color: white;
        text-decoration: none;
        border: solid 1px @white-color;
        padding: 10px 15px;
        margin: 20px 0;
        border-radius: 5px;
        display: inline-block;
        width: 150px;
        bottom: 15px;
      }
      .title{
        margin: 20px 0;
      }
      .marker-icon {
        padding-top: 10px;
        text-align: center;
        &:before {
          content: "\f041";
          font-family: FontAwesome;
          position: relative;
          .font-lg();
        }
      }
      &:after {
        content:'';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-top: solid 10px @primary-color;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
      }
    }

  }
}

