.front-page {
  .main-title {
    margin: 40px 0;
  }
  .main-content {
    margin-bottom: 50px;
  }
  .news-wrapper {
    a.dark-button {
      margin-top: 20px;
    }
  }
  .uitgelicht-title {
    margin-bottom: 30px;
    @media screen and (max-width: @xsm-device) {
      margin-top: 50px;
    }
  }
}