.news-detail-page {
  .container {
    background-color: @white-color;
    box-shadow: 1px 1px 1px #5a5959;
    padding-top: 50px;
    img {
      padding: 5px 0;
      width: 100%;
      height: auto;
    }
    .content {
      background-color: @white-color;
      margin-bottom: 20px;
    }
    .breadcrumb {
      background-color: @white-color;
      padding-left: 0;
    }
    header {
      text-align: center;
      margin-bottom: 20px;
    }
    .author {
      display: inline-block;
      &:before {
        content: "\f007";
        font-family: FontAwesome;
        padding: 5px 8px;
        background: lightgrey;
        top: 1px;
        position: relative;
        .font-md();
        border-radius: 50%;
        color: @white-color;
        margin: 0 5px;
      }
    }
  }
}