.verkoop-detail-page {
  .hero-image-wrapper {
    max-height: 400px;
    @media screen and (max-width: @xsm-device) {
      min-height: 200px;
    }
  }
  .breadcrumb {
    background-color: @white-color;
    padding-left: 0;
  }
  .main-title{
    padding-bottom: 10px;
  }
  .featured-image {
    overflow: hidden;
    margin: 30px 0;
    img {
      height: auto;
      width: 100%;
    }
  }
  .image-wrapper-lightbox {
    margin: 50px 0;
    overflow: hidden;
    .thumbnail {
      padding: 0;
      box-shadow: 1px 1px 10px #5a5959;
      border: none;
      img {
        border-radius: 0;
        height: 200px;
        width: 100%;
        max-width: 100%;
        @media screen and (max-width: @xsm-device) {
          height: auto;
        }
      }
    }
  }
}