body {
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.container-sm-full{
  @media screen and (max-width: @sm-device) {
    width: 100%;
  }
}

.bg-c-w {
  background-color: @white-color;
}
.bg-c-g{
  background-color: @light-grey-color !important;
}
.inline{
  display: inline-block !important;
}