// Device screen smaller then
@xsm-device: 767px;
@sm-device: 970px;
@md-device: 1170px;
// Device screen greater
@lg-device: 1170px;
// Colors
@white-color: #fff;
@black-color: #000000;
@grey-color: #616062;
@light-grey-color: #d6d6d6;

@font-dark-color: #000000;
@primary-color: #00529b;
@primary-dark-color: #063b6b;
@secondary-color: #bed1ea;
@third-color: #00529b;
@accent-color: #f1c90f;
